<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konecte</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>
  <header>
    <h1>Konecte</h1>
    <nav>
      <ul>
        <li><a href="#Segmentos">Segmentos</a></li>
        <li><a href="#¿Quiénes Somos?">¿Quiénes Somos?</a></li>
        <li><a href="#contacto">Contactos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="Segmentos">
      <div class="card">
        <h3>Segmento 1: Jóvenes Profesionales</h3>
        <p>Buscan su primera vivienda, generalmente en zonas urbanas, cerca de su trabajo y con buenas conexiones de
          transporte.</p>
        <p>Precios accesibles, alquileres o compras de tamaño medio, con posibilidad de crecimiento a futuro (pareja,
          familia, etc).</p>

      </div>
      <div class="card">
        <h3>Segmento 2: Familias Jóvenes</h3>
        <p>Familias con hijos pequeños o en edad escolar que buscan una casa o departamento mas grande en barrios
          residenciales.</p>
        <p>Viviendas con mas espacio, acceso a parques, escuelas cercanas, seguridad.</p>
      </div>
      <div class="card">
        <h3>Segmento 3: Personas jubiladas</h3>
        <p>Buscan cambiar a una vivienda mas pequeña o mudarse a áreas mas tranquilas después de la jubilación.</p>
        <p>Propiedades accesibles, sin escaleras o de fácil mantenimiento, áreas tranquilas.</p>
      </div>
    </section>

    <section id="¿Quiénes Somos?">
      <h2>¿Quiénes Somos?</h2>
      <p>Konecte es una plataforma digital integral que combina la búsqueda de propiedades con una experiencia
        personalizada, utilizando tecnología avanzada y un enfoque comunitario para ayudar a los clientes a encontrar su
        hogar ideal.</p>
    </section>

    <section id="Contactos">
      <h2>Contactos</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <button type="submit">Enviar</button>
      </form>
    </section>
  </main>

  <footer>
    <p>Contactanos via Correo: infokonecte.com o via Teléfono: 123-456-7890</p>
    <p>Síguenos en nuestras redes sociales:</p>
    <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
  </footer>
</body>

</html>