body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00eaff;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding:0;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

footer {
    background-color: #00eaff;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
p {
    font-family: "arial";
    color: black;
}
a{
    color: white;
}